<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kbs.pocis">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api"/>

        <activity android:name=".welcome.SplashScreen" android:theme="@style/Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".welcome.Welcome_Screen" android:theme="@style/Fullscreen"/>
        <activity android:name=".welcome.Auth"/>
        <activity android:name=".activity.HomePage" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".activity.CreateBooking" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".detailboking.BookingDetails" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".activity.OnlineBook" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".activity.MyProject_Dasar" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".activity.Invoice" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".myproject.Detail_MyProject" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".monitoring.Detail_Dasar" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".monitoring.Monitoring" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".complains.Complain_Dasar" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
    </application>

</manifest>